{{ define "isActive" }}
{{ if eq .CurrentRoute .Link }}
bg-gray-900 text-white
{{ else }}
text-gray-300 hover:bg-gray-700 hover:text-white
{{ end }}
{{ end }}

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="border-b border-gray-700">
            <div class="flex h-16 items-center justify-between px-4 sm:px-0">
                <div class="flex items-center">
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="/"
                               class='rounded-md px-3 py-2 text-sm font-medium {{ if eq .CurrentRoute "/" }}bg-gray-900 text-white{{ else }}text-gray-300 hover:bg-gray-700 hover:text-white{{ end }}'>
                                Home
                            </a>
                            <a href="/about"
                               class='rounded-md px-3 py-2 text-sm font-medium {{ if eq .CurrentRoute "/about" }}bg-gray-900 text-white{{ else }}text-gray-300 hover:bg-gray-700 hover:text-white{{ end }}'>
                                About
                            </a>
                            <a href="/releases"
                               class='rounded-md px-3 py-2 text-sm font-medium {{ if eq .CurrentRoute "/releases" }}bg-gray-900 text-white{{ else }}text-gray-300 hover:bg-gray-700 hover:text-white{{ end }}'>
                                Releases
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
