{{ define "content" }}
<header>
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{.Title}}</h1>
</header>

<!--Search Input-->
<input type="text"
       name="q"
       id="search"
       placeholder="Search Releases"
       hx-get="/releases"
       hx-target="#release-list"
       hx-trigger="keyup changed delay:500ms"
       hx-replace-url="true"
       class="block w-full rounded-md bg-white px-3 py-1.5 my-4 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-rose-600 sm:text-sm/6 sm:w-1/5"
>


<div id="release-list">
    {{ template "releases_partial.html" . }}
</div>

{{ end }}