<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Simple Website</h1>
</header>
<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/releases">releases</a></li>
    </ul>
</nav>
<main>
    {{ block "content" . }}{{ end }}
</main>
<footer>
    <p>&copy; 2024</p>
</footer>
</body>
</html>